* {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display:block;
}

header {
	background-color: #000000;
}


img.logo {
	width: 40%;
	padding: 1%;
}



nav ul li {
	padding: 4%;
	display: inline-block;
}

nav {
	margin-top: 10%;
	margin-bottom: 5%;
	text-align: center;
}

a {
	color: #4bc526;
	text-decoration: none;
	font-family: 'Alhambra', sans-serif;
}



h1, h2 {
	font-family: 'Alhambra', sans-serif;
	color: #ffffff;
	text-align: center;
	padding: 4%;
}

p {
	font-family: 'Cronos-pro', sans-serif;
	color: #ffffff;
}

.h1_home, .h2_home {
	text-align: center;
	padding: 2%;
}

.h2_home {
	margin-top: 4%;
	font-size: 1.3rem;
}

.background {
	width: 100%;
	margin-top: 8%;
}

img {
	width: 100%;
}

p {
	padding: 2%;
}

button.darkmode-toggle--white {
	z-index: 1;
}


.lower_nav {
	text-align: center;
	font-size: 1.5rem;
	margin-top: 15%;
}

footer p {
	padding: 10%;
	margin-top: 8%;
	text-align: center;
	color: #000000;
	font-family: 'Alhambra';
	font-size: 2rem;
}



/******** START 600 PX MIN WIDTH MEDIA QUERY ******/
@media (min-width: 600px) {

	header {
		width: 100%;
	}

	.lower_nav {
		margin-left: 30%;
	}

	.img_home {
		width: 100%;
	}


	.about-image-grid, .biology-image-grid, .wings-image-grid {
		display: flex;
		flex-wrap: wrap;
	}

 	figure {
		width: 50%;
	}

	.ikran14 {
		height: 167.703px;
	}

	.ikran16 {
		height: 200.172px;
	}

}

/******** END 600 PX MIN WIDTH MEDIA QUERY ******/

/******** START 900 PX MIN WIDTH MEDIA QUERY ******/

/******** END 900 PX MIN WIDTH MEDIA QUERY ******/
